div.justify-content-around {
    margin-top: 80px;
    margin-bottom: 40px;
}

div.content {
    height: 100vh;
}

#landing { 
    height: 90vh;
    background-color: #faf9f9;
}

#about  {
    background-color: #bee3db;
}

#gallery {
    background-color: #89b0ae;
    overflow: hidden;
}

h2.header {
    margin-top: 40px;
}
